<a href="https://colab.research.google.com/github/LuisFelipeUrena/DS-Unit-3-Sprint-1-Software-Engineering/blob/master/Assignments/DS14_TL_LS_LUIS_URENA_UNIT3_1-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
cali = '/content/sample_data/california_housing_train.csv'
df = pd.read_csv(cali)

In [71]:
df.head(3
        )

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0

[3 rows x 9 columns]

In [0]:
values = pd.Series(df.isnull().sum())

In [73]:
values

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [74]:
for i in values:
    print(df.columns[0])

longitude
longitude
longitude
longitude
longitude
longitude
longitude
longitude
longitude

In [75]:
print('Null Values in each Column')
print('---------------------------')
print(values)
print('---------------------------')

Null Values in each Column
---------------------------
longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64
---------------------------

In [0]:
result = df.astype('object').describe()

In [77]:
print(result)

        longitude  latitude  ...  median_income  median_house_value
count    17000.00  17000.00  ...      17000.000             17000.0
unique     827.00    840.00  ...      11175.000              3694.0
top       -118.31     34.06  ...          3.125            500001.0
freq       136.00    205.00  ...         41.000               814.0

[4 rows x 9 columns]

In [78]:
!pip install -i https://test.pypi.org/simple/ lambdata-luife

Looking in indexes: https://test.pypi.org/simple/
Requirement already satisfied: lambdata-luife in /usr/local/lib/python3.6/dist-packages (1.0)

In [0]:
from my_lamdata.assign import null_val

In [83]:
null_val(df)

Null Values in each Column
---------------------------
longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64
---------------------------

In [0]:
from my_lamdata.assign import cat_variables

In [86]:
cat_variables(df)

        longitude  latitude  ...  median_income  median_house_value
count    17000.00  17000.00  ...      17000.000             17000.0
unique     827.00    840.00  ...      11175.000              3694.0
top       -118.31     34.06  ...          3.125            500001.0
freq       136.00    205.00  ...         41.000               814.0

[4 rows x 9 columns]